body {
    margin: 0;
    background: #ffffff;
    font-family: "Segoe UI", sans-serif;
    color: #111;
    text-align: center;
}

header {
    padding: 40px 0 20px;
}

h1 {
    font-size: 42px;
    margin-bottom: 5px;
    font-weight: 600;
}

.sub {
    font-size: 17px;
    color: #555;
}

.upload-box {
    margin-top: 30px;
}

.file-label {
    border: 2px solid #111;
    padding: 12px 25px;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    margin-right: 12px;
    transition: 0.2s;
}

.file-label:hover {
    background: #111;
    color: #fff;
}

input[type="file"] {
    display: none;
}

.analyze-btn {
    border: none;
    padding: 13px 30px;
    font-size: 18px;
    cursor: pointer;
    background: #111;
    color: #fff;
    transition: 0.2s;
}

.analyze-btn:hover {
    opacity: 0.85;
}

.result-box {
    margin-top: 40px;
}

.mri-image {
    width: 330px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

.prediction {
    margin-top: 25px;
    font-size: 30px;
    font-weight: 600;
    background: #111;
    color: #fff;
    display: inline-block;
    padding: 12px 35px;
    border-radius: 5px;
}

footer {
    margin-top: 55px;
    padding: 25px;
    font-size: 15px;
    color: #666;
}

.confidence {
    margin-top: 12px;
    font-size: 20px;
    color: #222;
    font-weight: 500;
}

.image-row {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}

.image-card {
    text-align: center;
}

.image-title {
    margin-top: 10px;
    font-size: 17px;
    color: #444;
    font-weight: 500;
}

.mri-image,
.heatmap-image {
    width: 330px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
}
